@font-face {
    font-family: 'Laraboyok';
    src: url('https://undanganfuncreative.github.io/andriyano-sinta/laraboyok-2.eot');
    src: url('https://undanganfuncreative.github.io/andriyano-sinta/laraboyok-2.eot') format('embedded-opentype'),
         url('https://undanganfuncreative.github.io/andriyano-sinta/laraboyok-2.woff2') format('woff2'),
         url('https://undanganfuncreative.github.io/andriyano-sinta/laraboyok-2.woff') format('woff'),
         url('https://undanganfuncreative.github.io/andriyano-sinta/laraboyok-2.ttf')  format('truetype'),
         url('https://undanganfuncreative.github.io/andriyano-sinta/laraboyok-2.svg') format('svg');
}